
@mixin flexbox {
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -ms-flex;
}
@mixin inline-flexbox {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -o-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
}
@mixin flex-direction-column {
    flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
}
@mixin flex-direction-row {
    flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
}
@mixin flex-wrap-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
@mixin flex-wrap-nowrap {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
}
@mixin align-items-center {
    align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
@mixin align-items-flex-start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -o-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
}
@mixin align-items-flex-end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -o-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
}
@mixin align-content-center {
    align-content: center;
    -webkit-align-content: center;
    -o-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
}
@mixin justify-content-center {
    justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
@mixin justify-content-space-around {
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
}
@mixin justify-content-space-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
}
@mixin justify-content-flex-end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -o-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
}
@mixin justify-content-flex-start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -o-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
}
